body {
    background-color: #37474F;
    color: #000000;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
    border: 5px solid #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff; 
    color: #000000; 

}

.blocos {
    text-align: center;
    border-radius: 18px;
    padding: 50px;
    background-color: #b6cde2;
    box-shadow: 3px 3px 12px black;
    max-width: 600px;
    margin: 40px auto;
    font-family: 'Arial', sans-serif;
}

.chat-window {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 60px; 
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #d1ecf1;
    text-align: left;
}

.bot-message {
    background-color: #e2e3e5;
    text-align: left;
}

#enviar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 9px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#enviar:hover {
    background-color: #546E7A;
}
